.generate-btn {
  padding: 1rem 1rem;
  background-color: var(--GreenColor);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 100%;
  border: 1px solid transparent;
  color: var(--black-color);
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 18px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}

.generate-btn:hover {
  border-color: var(--GreenColor);
  color: var(--GreenColor);
  background-color: var(--black-color);
}
@media (max-width: 768px) {
.sub-container{
  width: 25rem;
}
}
@media (max-width: 385px) {
.generate-btn {
  padding: 0.5rem 0.5rem;
}
}
