/*Box sizing rule*/
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

:root{
  --dark-grey-color: rgb(36, 35, 44);
  --grey-color: rgb(128, 124, 146);
  --almost-white-color: rgb(230, 229, 234);
  --very-dark-grey-color: rgb(24, 23, 31);
  --neon-green-color: rgb(164, 255, 175);
  --red-color: rgb(246, 74, 74);
  --orange-color: rgb(251, 124, 88);
  --yellow-color: rgb(248, 205, 101);
  --green: #28a745;
  --grey-800: #343a40;
}