.password-length-container {
  margin-bottom: 0.5rem;
  font-family: 'JetBrains Mono', monospace;
}

.password-length-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-length-value {
  font-size: 2rem;
  color: var(--GreenColor);
}

.password-length-range {
  width: 100%;
  appearance: none;
  height: 0.25rem;
  margin-bottom: 1rem;
}



/* Input range bar css */
input[type="range"] {
    background: brgb(24, 23, 31)lack;
    outline: none; 
    opacity: 0.7; 
    transition: opacity 0.2s;
    height: 0.4rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: #E6E5EA;
    border-radius: 50%;
    cursor: pointer;
    
}

input[type="range"]::-webkit-slider-thumb:hover {
    border: 1px solid #A4FFAF;
    background: var(--dark-grey-color);
}

/* The copy button css */
.copy-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.copy-btn .icon {
  transition: color 0.1s;
}

.copy-btn .icon:hover {
  color: var(--dark-grey-color);
}

/* Media Screens */
@media (max-width: 768px) {
.sub-container{
  width: 25rem;
}
}
@media (max-width: 385px) {
.password-length-value {
  font-size: 12px;
  color: var(--GreenColor);
}
.char-len{
  font-size: 12px;
}
.password-length-range {
  height: 0.1rem;
}
}
