.password-display-container {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  padding-left: 1rem;
  padding-right: 1rem;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: 'JetBrains Mono', monospace;
}

.password-text {
  padding: 1rem 1rem;
  color: var(--white-color);
  font-size: 24px;
  font-family: 'JetBrains Mono', monospace;
}

.password-placeholder {
  font-size: 24px;
  padding: 1rem 1rem;
  color: var(--Greycolor);
  font-family: 'JetBrains Mono', monospace;
}

.copy-btn {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.copied-text {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: var(--GreenColor);
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
}

.copy-icon {
  width: 21px;
  height: 24px;
  color: var(--GreenColor);
  margin-left: 0.5rem;
}

.copy-icon:hover {
  color: white;
}
@media (max-width: 768px) {
  .password-display-container {
  padding-left: 0rem;
  padding-right: 1rem;
  width: 25rem;
}
.password-text {
  font-size: 18px;
}
.password-placeholder {
  font-size: 18px;
  }
}

@media (max-width: 385px) {
.password-display-container {
  padding-left: 0rem;
  width: 18rem;
}
.password-text {
  font-size: 12px;
}
.password-placeholder {
  font-size: 12px;
  }
  .copy-icon {
  width: 18px;
  height: 20px;
  margin-left: 0.3rem;
}
}
