.container{
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: var(--black-color);
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}

.strength{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.scale {
  display: flex;
  gap: 0.4rem;
  height: 1.5rem;
}

.scale[data-value="1"] .scale_bar:nth-child(1) {
  background-color: #F64A4A;
}

.scale[data-value="2"] .scale_bar:nth-child(-n+2) {
  background-color: #FB7C58;
}

.scale[data-value="3"] .scale_bar:nth-child(-n+3) {
  background-color: #F8CD65;
}

.scale[data-value="4"] .scale_bar:nth-child(-n+4) {
  background-color: #A4FFAF;
}

.scale_bar {
  width: 0.5rem;
  border: 2px solid rgb(230, 229, 234);
  background-color: transparent;
}

.color-light {
  color: var(--Greycolor);
}

.fs-md {
  font-size: 1rem;
}

@media (max-width: 385px) {
.color-light {
   font-size: 12px;
  color: var(--Greycolor);
}
.fs-md {
  font-size: 12px;
}
.scale_bar {
  width: 0.3rem;
}
}

@media (max-width: 385px) {
  .scale {
  gap: 0.3rem;
  height: 1rem;
}
.color-light {
   font-size: 12px;
  color: var(--Greycolor);
}
.fs-md {
  font-size: 12px;
}
.scale_bar {
  width: 0.3rem;
}
}
