:root {
  --grey-200: hsl(252, 11%, 91%);
  --grey-400: hsl(251, 9%, 53%);
  --grey-700: hsl(247, 11%, 15%);
  --grey-800: hsl(248, 15%, 11%);
  --grey-900: hsl(252, 17%, 6%);
  --green: hsl(127, 100%, 82%);
  --yellow: hsl(42, 91%, 68%);
  --orange: hsl(13, 95%, 66%);
  --red: hsl(0, 91%, 63%);
  --spacing-xs: clamp(0.875rem, 0.5rem +2vw, 1.25rem);
  --spacing-sm: clamp(0.875rem, 0.5rem +2vw, 1.5rem);
  --spacing-md: clamp(1rem, 0.5rem +3vw, 2rem);
}

.container{
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: var(--grey-800);
}

.strength{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.scale {
  display: flex;
  gap: 0.4rem;
  height: 1.5rem;
}

.scale[data-value="1"] .scale_bar:nth-child(1) {
  background-color: #F64A4A;
}

.scale[data-value="2"] .scale_bar:nth-child(-n+2) {
  background-color: #FB7C58;
}

.scale[data-value="3"] .scale_bar:nth-child(-n+3) {
  background-color: #F8CD65;
}

.scale[data-value="4"] .scale_bar:nth-child(-n+4) {
  background-color: #A4FFAF;
}

.scale_bar {
  width: 0.5rem;
  border: 2px solid rgb(230, 229, 234);
  background-color: transparent;
}

.color-light {
  color: var(--grey-200);
}

.fs-md {
  font-size: 1rem;
}
