@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="checkbox"]{
        @apply accent-GreenColor;
    }
}

:root{
  --red-color: rgb(246, 74, 74);
  --orange-color: rgb(251, 124, 88);
  --yellow-color: rgb(248, 205, 101);
  --GreenColor: rgb(164, 255, 175);
  --white-color: rgb(230, 229, 234);
  --Greycolor: rgb(128, 124, 146);
  --black-color: rgb(24, 23, 31);
  --dark-grey-color: rgb(36, 35, 44);
}

body {
  font-family: 'JetBrains Mono', monospace;
}



.main-container {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--black-color);
  color: var(--white-color); 
}

.sub-container{
  width: 30rem;
  padding: 2rem;
  background-color: var(--dark-grey-color);
}


@media (max-width: 768px) {
.sub-container{
  width: 25rem;
}
}
@media (max-width: 385px) {
.sub-container{
  width: 18rem;
}
}
